<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel by tae</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b151494c6b.js" crossorigin="anonymous"></script>
    <style>
        body {


            font-family: 'Dosis', sans-serif;
        }

        hr {
            background-color: black;

        }

        .header-text {
            font-family: 'Dancing Script', cursive;
        }

        .jumbotron {
            background-color: #94d3ac;

        }



        #footer {
            background-color: #655c56;
            padding: 3%;
        }

        nav {

            background-color: #ccedd2;
        }

        .btn {
            position: absolute;
            right: 0;
            border: 0;
            padding: 1% 2%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg">
        <a class="navbar-brand" href="/">To-Do
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link " href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/todoList">View To-Do list</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container header-text">
            <h1 class="display-4 text-center">Add Todo 🖊</h1>


        </div>
    </div>


    <div class="container">
        <% if(plans.length < 1) { %>
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-center mt-5 header-text">Please insert your to-do list first</h1>
        <% } %>
        <% plans.forEach(plan=>{ %>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header"><b>Your Todo</b>
                    <form action="/plans/delete/<%= plan._id %>" method="post" style="display: inline;">
                        <button class="btn btn-sm btn-danger mr-3"><i class="far fa-trash-alt"></i></button></form>

                </div>
                <div class="card-body">
                    <p><b>Detail: <%= plan.title %></b><br></p>

                    <p><b>When: <%= plan.date %></br></p>

                </div>
                <div class="card-footer">
                    <form action="/plans/<%= plan._id %>" method="GET">
                        <button class="btn-info btn btn-block">Edit</button>
                    </form>
                </div>
            </div>
        </div>
        <% }); %>

    </div>



</body>

</html>